@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Days+One&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Days One', sans-serif;
  background-color: #89CFF0
}

#json {
  display: flex;
  justify-content: center;
}

.workCollection {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.workCollection > div {
  display: inline-block;
  width: 30%;
}

.workCollection img {
  width: 100%;
}
